* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: Montserrat;
    color: white;
}

/* Main container */
.my-chat.main-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 'header'
    'history'
    'message';
    grid-template-rows: min-content auto min-content;
}

/* Chat header */
.my-chat .chat-header-container {
    grid-area: header;
    display: grid;
    grid-template-columns: 2.9em auto minmax(min-content, 15%);
    padding: 0.5em;
    background-color: #587e88;
}

.my-chat .brand {
    display: flex;
}

.my-chat .brand > img {
    width: 100%;
    margin: auto;
}

.my-chat .chat-name {
    display: grid;
    align-items: center;
    padding-left: 1em;
}

.my-chat .chat-name > h1 {
    font-size: 1.5em;
    font-weight: 500;
}

.my-chat .chat-user {
    display: grid;
    align-items: center;
    justify-content: right;
}

.my-chat .chat-user > h2 {
    font-size: 1em;
    font-weight: 100;
}

/* Chat history */
.my-chat .chat-history-container {
    grid-area: history;
    display: block;
    background-color: #355c66;
    height: 100%;
    overflow: auto;
}

.my-chat .message-user-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.my-chat .message-other-users-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.my-chat .message-user {
    background-color: #5d5888;
    width: fit-content;
    max-width: 95%;
    overflow-wrap: break-word;
    margin: 0.5em 1% 1em 30%;
    padding: 0.8em;
    border-radius: 15px;
}

.my-chat .message-other-users {
    background-color: #588862;
    width: fit-content;
    max-width: 95%;
    overflow-wrap: break-word;
    margin: 0.5em 30% 1em 1%;
    padding: 0.8em;
    border-radius: 15px;
}

.my-chat .message-user-name {
    font-weight: 100;
    font-size: 0.7em;
    margin-bottom: 0.9em;
}

.my-chat .message-user-content {
    font-size: 0.9em;
}

.my-chat .user-status {
    text-align: center;
    font-style: italic;
    font-weight: 100;
    font-size: 0.9em;
    margin: 0.8em 0;
}

/* Chat input */
.my-chat .chat-input-message-container {
    grid-area: message;
    display: grid;
    grid-template-columns: auto min-content;
    background-color: #587e88;
    padding: 0.5em 1em;
}

.my-chat .chat-message-input {
    background-color: inherit;
    border: none;
    height: 2.5em;
    overflow: auto;
    font-family: inherit;
    font-size: 0.9em;
    font-weight: 500;
    resize: none;
    color: white;
}

.my-chat .chat-message-input:focus {
    outline: none;
}

.my-chat .chat-message-btn {
    background-color: inherit;
    border: none;
    color: white;
    border-radius: 20px;
    height: 3em;
    width: 3em;
}

.my-chat .chat-message-btn:active {
    background-color: white;
    color: black;
}

.my-chat .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.my-chat .pop-up-container {
    background-color: #202a2d;
    position: absolute;
    align-self: center;
    justify-self: center;
    width: 20ch;
    height: 50%;
    border-radius: 15px;
    display: grid;
    grid-template-areas: 'input'
    'input'
    'input'
    'btn';
}

.my-chat .pop-up-container > .input-container {
    text-align: center;
    margin: auto;
    grid-area: input;
}

.my-chat .pop-up-container > .input-container > p {
    margin-bottom: 5%;
}

.my-chat .pop-up-container > .input-container > input#username-input {
    margin-bottom: 10%;
}

.my-chat .pop-up-container > .input-container > input {
    font-family: inherit;
}

.my-chat .pop-up-container > .pop-up-btn-container {
    grid-area: btn;
    text-align: center;
}

.my-chat .pop-up-container > .pop-up-btn-container > #pop-up-btn {
    font-family: inherit;
    width: 10ch;
    height: 4ch;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.my-chat .pop-up-container > .pop-up-btn-container > #pop-up-btn:active {
    background-color: #587e88;
}
